*{
	padding: 0;
	margin: 0;
}
ul,li{
	list-style: none;
}
.box{
	width: 1500px;
	height: 770px;
	border: 1px solid red;
	margin: 10px auto;
	position: relative;
	overflow: hidden;
}
.slider{
	width: 10500px;
	position: absolute;
	left: -1500px;
}
.slide{
	width: 1500px;
	overflow: hidden;
	float: left;
}
.box>span{
	display: block;
	width: 50px;
	height: 80px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	top: 350px;
	line-height: 80px;
	background: rgb(255,0,0);
	font-size: 40px;
	position: absolute;
	/* display: none; */
	opacity: 0;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
.nav{
	position: absolute;
	left: 650px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
}
.nav .active{
	background: red;
}